#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 40px;
}
.required {
  font-size: 0.8rem;
  color: red;
  margin-right: 1.5rem;
  margin-bottom: 0;
  text-align: right;
  font-weight: bold;
}
.input-group h4 {
  line-height: 2em;
}
.btnBox {
  margin-bottom: 30px;
  
}
.btnBox .btn-primary {
  width: 150px;
}
.btnBox .btn-warning {
  color: #fff;
  width: 150px;
}
.btn-warning:hover {
  color: #fff;
}
.btn_space {
  vertical-align: middle;
  box-shadow: none !important;
  border-bottom-width: 0 !important;
}
.table button.btn {
  vertical-align: middle;
}
.drop_area {
  width: 500px;
  height: 300px;
  border: 5px solid gray;
  border-radius: 5px;
}
.enter {
  border: 10px dotted powderblue;
}
.delete-mark {
  top: -20px;
  right: -5px;
}
.cursor {
  cursor: pointer;
}
.phone_area {
  display: none;
}
@media (max-width: 850px) {
  .phone_area {
    display: block;
  }
  .pc_area {
    display: none;
  }
  input[type="file"] {
    display: none;
  }
  .select_file {
    padding: 2px 7px;
    color: black;
    background-color: #efefef;
    border: 0.7px solid #7c7d7e;
    border-radius: 2px;
  }
}
@media (max-width: 400px) {
  .delete-mark {
    top: -15px;
  }
}